<!-- Who's Printing main tab contents when a user is logged in -->
<div data-bind="visible: loginStateViewModel.isUser">
    <div>
        <h1>Members Labels: <span data-bind="text: status"></span></h1>
        <button type="button" class="btn btn-large btn-success" data-bind="click: printDoNotHack">Print 'Do Not Hack' Label</button>
        <button type="button" class="btn btn-large btn-success" data-bind="click: printMembersBox">Print Members Box Label</button>
    </div>


    <h1>Helpers:</h1>
    <div>

        <button type="button" class="btn btn-large success" data-bind="click: printHowToRegister">Print 'How To Register' Label</button>
        <button type="button" class="btn btn-large btn-default" data-toggle="modal" data-target="#badger_text_label_dialog">Print Text Label</button>
    </div>

    <h1>Maintenance:</h1>

    <div>

        <button type="button" class="btn btn-success" data-bind="click: labelsRefilled">Labels Refilled</button>
    </div>

    <h1>Print Queue:</h1>
    <div>
        <button type="button" class="btn btn-warning" data-bind="click: clearPrintQueue">Clear Print Queue</button>
        <button type="button" class="btn btn-success" data-bind="click: getPrintQueue">Refresh Print Queue</button>
        <ul data-bind="foreach: printJobs">
            <li data-bind="text: name"></li>
        </ul>
    </div>

    <h1>Printer:</h1>
    <div data-bind="with: printerInfo">
        <p>Name: <span data-bind="text:info"></span></p>
        <p>Make and Model: <span data-bind="text:makeAndModel"></span></p>
        <p>State: <span data-bind="text:state"></span></p>
        <p>Message: <span data-bind="text:stateMessage"></span></p>
        <p>Reason: <span data-bind="text:stateReasons"></span></p>

    </div>
</div>


<div id="badger_text_label_dialog" style="display:none" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Text Label</h3>
            </div>

            <div class="modal-body form-horizontal">
                <div class="control-group">
                    <label class="control-label">Label Text</label>
                    <div class="controls">
                        <textarea cols="100" rows="8" data-bind="value:textBlock"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bind="click: printTextBlock" data-dismiss="modal">Print</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div>

    </div>
</div>