<div class="row-fluid" >
    <h3>Badger...</h3>
</div>

<!-- Tab contents when not logged in -->
<div class="row-fluid" data-bind="visible: notLoggedIn">
    <p>You need to be logged in to view contact details for Who's Printing.</p>

    <div data-bind="visible: settings.canRegister">
        <p>Please login to print a label (or use your Key fob).</p>
    </div>
</div>

<!-- Who's Printing main tab contents when a user is logged in -->
<div data-bind="visible: loginStateViewModel.isUser">
    <button type="button" class="btn btn-success" data-bind="click: printLabel">Print Label</button>
</div>