<div class="row-fluid" >
    <h3>Badger</h3>
    <p data-bind="text: status"></p>
</div>

<!-- Tab contents when not logged in -->
<div class="row-fluid" data-bind="visible: notLoggedIn">

    <div data-bind="visible: settings.canRegister">
        <p>Please login to print a label.</p>
    </div>
</div>

<!-- Who's Printing main tab contents when a user is logged in -->
<div data-bind="visible: loginStateViewModel.isUser">
    <h4>Member Do Not Hack Labels</h4>
    <div>
        <button type="button" class="btn btn-success" data-bind="click: printDoNotHack">Print Do Not Hack</button>
    </div>

    <h4>General Text Labels</h4>
    <div>
        <div>
            <textarea cols="100" rows="8" data-bind="value:textBlock"></textarea>
        </div>
        <button type="button" class="btn btn-success" data-bind="click: printTextBlock">Print Text</button>
    </div>
</div>